[submodule "pack/plugins/opt/vim-fugitive"]
	path = pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/opt/vim-airline"]
	path = pack/plugins/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/opt/vim-airline-themes"]
	path = pack/plugins/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/plugins/start/fuzzyy"]
	path = pack/plugins/start/fuzzyy
	url = https://github.com/vim-fuzzbox/fuzzbox.vim.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/plugins/opt/dart-vim-plugin"]
	path = pack/plugins/opt/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "pack/plugins/opt/vim-flutter"]
	path = pack/plugins/opt/vim-flutter
	url = https://github.com/thosakwe/vim-flutter.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
